body {
  background-color: wheat;
  font-family: 'Raleway', sans-serif;
}
.header {
  text-align: center;
  color: saddlebrown;
}

.box {
  background-color: wheat;
   }

.ReactFlipCard {
    margin: 25px;
    text-align: center;
    font-size: x-large;
  }
  .ReactFlipCard,
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    box-sizing: border-box;
    width: 450px;
    height: 225px;
  }
  .ReactFlipCard__Front,
  .ReactFlipCard__Back {
    border-radius: 10px;
    border: 1px solid saddlebrown;
    padding: 25px;
  }
  .ReactFlipCard__Front {
    background-color: linen;
    color: darkolivegreen;
  }
  .ReactFlipCard__Back {
    background-color: linen;
    color: olivedrab;
  }

  button {
    margin-top: 50px;
    font-size: large
  }

  .footer {
    text-align: center;
    color: saddlebrown;
  }
